.bebas{
    display: flex
}

#outline-none {
    outline: none;
  }
  
  .height-4 {
    height: 400px;
  }
  
  .bg-custom-5 {
    background-image: url('./assets/img/6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .my-9 {
    margin: 90px 0;
  }